[Unit]
Description=Start Noisebox
After=multi-user.target

[Service]
Environment="JACK_NO_AUDIO_RESERVATION=1"
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
ExecStart=/usr/bin/python3 -u /home/pi/autonomous-noise-unit/noisebox.py
WorkingDirectory=/home/pi/autonomous-noise-unit/
Restart=always
RestartSec=2s
TimeoutSec=infinity
User=pi

[Install]
WantedBy=multi-user.target
